# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# env files
.env

# byte-compiled / cache
__pycache__/
.pytest_cache/

# VSCode
.vscode/

# others
*.db
*.sqlite3

# generated ML artifacts
models/*.pkl
data/training/*.csv
data/processed/*.csv
!models/.gitkeep
!data/training/.gitkeep
!data/processed/.gitkeep
